baserom*
build/*
tools/*
asm_processor_temp*
!tools/asm_processor
!tools/asm_processor/*
!tools/utils
!tools/utils/*
!tools/Makefile
!tools/*.c
!tools/*.h
!tools/*.cpp
!tools/*.hpp
!tools/*.cxx
!tools/*.hxx
